    body {
        background: lightgray;
    }
    
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .origin > ul {
        background: gray;
        padding: 10px;
        min-height: 20px;
    }
    
    .draggable {
        padding: 10px;
        background: #B9B2A2;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
    
    .draggable:not(:last-child) {
        margin-bottom: 5px;
    }
    
    .drake-slots {
        background: #9E4C4E;
        padding: 10px;
    }
    
    .drake-slots .slot {
        display: table;
        width: 100%;
    }
    
    .drake-slots .slot:not(:last-child) {
        margin-bottom: 5px;
    }
    
    .drake-slots .slot .matchable {
        padding: 5px;
        background: #808080;
        display: table-cell;
        width: 40px;
        color: white
    }
    
    .drake-slots .slot .drake-match {
        display: table-cell;
        width: auto;
        border: 1px dashed;
    }
    
    .prijevod {
        text-align: center
    }
    
    .btn {
        margin: 1rem auto 0;
        margin-bottom: 0px;
        display: block;
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem 0;
        background: rgb(104, 0, 2);
        border: none;
        color: white;
        border-radius: 5px;
        transition: background-color 0.5s ease;
        font-family: cardo;
        margin-bottom: 20px;
        display: none;
    }
    
    .btn:hover {
        cursor: pointer;
        background: rgb(124, 7, 16);
        color: white;
    }
    
@media only screen and (max-width:760px) {
        .col-xs-6 {width:100%}

    }