  @font-face {
      font-family: cardo;
      src: url(Cardo-Regular.ttf);
  }
  
  @font-face {
      font-family: cardo-strong;
      src: url(Cardo-Bold.ttf);
  }
  
  @font-face {
      font-family: cardo-italic;
      src: url(Cardo-Italic.ttf);
  }
  
  @font-face {
      font-family: cardo;
      src: url(Cardo-Regular.ttf);
  }
  
  @font-face {
      font-family: cardo-strong;
      src: url(Cardo-Bold.ttf);
  }
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: "cardo";
      background: #456990;
      overflow-x: hidden;
      background-color: #25180F;
      background: url(podloga2.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
  }
  
  strong {
      font-family: "cardo-strong";
  }
  
  em {
      font-family: "cardo-italic";
  }
  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .intro {
      background: #F45B69;
      padding: 100px 0;
  }
  
  .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
  }
  
  h1 {
      font-size: 2.5rem;
  }
  /* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul {
      padding: 50px 0;
      box-shadow: 0px 0px;
  }
  
  .timeline ul li {
      list-style-type: none;
      position: relative;
      width: 20px;
      margin: 0 auto;
      padding-top: 50px;
      background-image: url(Novak_kronologija.png);
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 18px;
  }
  
  .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  .timeline ul li:nth-child(1) {
      background-image: url(start.png);
  }
  
  .timeline ul li div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #EDE1D5;
  }
  
  .timeline ul li div::before {
      content: '';
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
      left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #680002 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
      left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #680002;
  }
  
  time {
      display: block;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 8px;
  }
  /* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
      transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
      background: rgb(104, 0, 2);
  }
  
  .kraj::after {
      background: none;
  }
  
  .timeline ul li:last-child {
      background-image: url(end.png);
      width: 90px;
      height: 151px;
  }
  
  .timeline ul li div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
      transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
      transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
      transform: none;
      visibility: visible;
      opacity: 1;
      box-shadow: 0px 0px 5px;
      border-radius: 5px;
  }
  /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
      .timeline ul li div {
          width: 250px;
      }
      .timeline ul li:nth-child(even) div {
          left: -289px;
          /*250+45-6*/
      }
            h1{ font-size:  2rem;}

  }
  
  @media screen and (max-width: 600px) {
      .timeline ul li {
          margin-left: 20px;
      }
      h1{ font-size:  1.5rem;}
      .kraj {
          margin-left: -15px!important;
      }
      .timeline ul li div {
          width: calc(100vw - 91px);
      }
      .timeline ul li:nth-child(even) div {
          left: 45px;
      }
      .timeline ul li:nth-child(even) div::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #F45B69 transparent transparent;
      }
  }