      @font-face {
          font-family: cardo;
          src: url(../Cardo-Regular.ttf);
      }
      
      @font-face {
          font-family: cardo-strong;
          src: url(../Cardo-Bold.ttf);
      }
      
      @font-face {
          font-family: cardo-italic;
          src: url(../Cardo-Italic.ttf);
      }
      
      body {
          margin: 0;
          font-family: "cardo";
          background: url(../../podloga2.jpg) no-repeat center center fixed;
          background-size: auto auto;
          background-size: auto auto;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      
      #content {
          max-width: 1000px;
          margin: auto;
          left: 1%;
          right: 1%;
         
      }
      
      .modal {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 1;
          /* Sit on top */
          left: 0;
          top: 0;
          width: 100%;
          /* Full width */
          height: 100%;
          /* Full height */
          /* Enable scroll if needed */
          overflow: hidden;
          /* Black w/ opacity */
      }
      /* Modal Content/Box */
      
      .modal-content {
          /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          /* Could be more or less, depending on screen size */
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 5px;
          box-shadow: 0 0 5px black;
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          margin: 0;
          padding: 0;
      }
      
      #naslov {
          text-align: center;
          font-size: 2.5rem;
      }
      
      .opis {
          font-size: 1.5rem;
          margin-bottom: 30px;
      }
      
      .opis,
      .centar {
          text-align: center;
          font-size: 20px;
      }
      /* The Close Button */
      
      .grid {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
          text-align: center;
          font-size: 20px;
      }
      
      .ikone {
          max-height: 350px;
          max-width: 100%;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          border-radius: 5px;
      }
      
      .ikone2 {
          max-width: 100%;
          height: auto;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          border-radius: 5px;
      }
      
      .ikone:hover {
          opacity: 0.5;
          cursor: pointer
      }
      
      .centar {
          text-align: center
      }
      
      .zastavice {
          padding: 10px;
      }
      
      .fas {
          color: #A39D82;
          text-shadow: 0 0 1.5px black;
      }
      
      #broj-puzzla {
          color: rgb(104, 0, 2);
          text-shadow: 0 0 1px black;
      }
      
      .kom_izbornik {
          text-align: left;
          padding-left: 2%;
          display: inline;
      }
      
      @media only screen and (max-width: 1780px) {
          .kom_izbornik {
              text-align: left;
          }
      }
      
      @media only screen and (max-width: 850px) {
          .kom_izbornik {
              font-size: 14px
          }
          select {
              font-size: 14px!important
          }
      }
      
      @media only screen and (max-width: 600px) {
          #content {display: block;position: initial}
      }
      
      @media only screen and (max-width: 450px) {
          .kom_izbornik {
              font-size: 12px
          }
          select {
              font-size: 12px!important
          }
      }
      
      #glass {
          position: absolute;
          border-radius: 50%;
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          display: none;
          background-repeat: no-repeat;
          background-color: rgba(0, 0, 0, .6);
          z-index: 1000000000000;
      }